{% extends "home/base1.html" %}
{% block title %}{{user.username}}{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Amount of Extra Seats Needed</legend>
				{{ form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-info " type="submit">Club Ids</button>
			</div>
		</form>
	</div>
{% endblock content %}