{% extends "home/base1.html" %}
{% block title %}Login{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="content-section">
			<form method="POST">
				{% csrf_token %}
				<fieldset class="form-group">
					<legend class="border-bottom mb-4">Log In</legend>
					{{ form|crispy }}
					<h6>NOTE: Your Roll No is your Username</h6>
				</fieldset>
				<div class="form-group">
					<button class="btn btn-info " type="submit">Login</button>
				</div>
			</form>
			<div class="border-top pt-3">
				<small class="text-muted">
					Need An Account? <a class="ml-2" href="{% url 'signup' %}">Sign Up Now</a>
				</small>	
			</div>
	</div>
	<br>
	<br>
	<div class="content-section" style="text-align: center;">
		<h2><u>KGP Library Seating Status</u></h2>
		<a href="{% url 'view-seats' %}" class="btn btn-info" role="button">View Seats</a>
	</div>
{% endblock content %}
   


