{% extends "home/base1.html" %}
{% block title %}Profile{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="content-section">
		<div class="media">
			<div class="media-body">
				<h2 class="account-heading">{{ user.first_name}} {{user.last_name}}</h2>
				<h3>Roll No: {{ user.username }}</h3>
				<h4 class="text-secondary"><span style="color: black;">email:</span> {{ user.email }}</h4>
			</div>
		</div>
		<br>
		<div class="border-top">
		</div>
		<a href="{% url 'update' %}" class="btn btn-info" role="button">Update</a>	
		
	</div>
{% endblock content %}